[Desktop Entry]
Version=1.0
Type=Application
Name=visio
GenericName=Camera
Comment=bespoke program
Exec=python3 /opt/visio/bin/visio.py
Terminal=false
Icon=/opt/visio/share/AI.png
Categories=Camera
StartupNotify=true
Actions=Window;Document;